/* styles.css */

/* Reset beberapa style default */
body, h1, input {
    margin: 0;
    padding: 0;
}

/* Gaya utama body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

/* Gaya header */
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2rem;
    color: #333;
}

#search-input {
    padding: 10px;
    width: 50%;
    font-size: 1rem;
    margin-top: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: none;
}

#search-input:focus {
    border-color: #007BFF;
}

/* Container untuk card film */
.film-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
}

/* Card film */
.film-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Membuat isi card terdistribusi */
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    width: 250px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    height: 350px; /* Tentukan tinggi card */
}

.film-card:hover {
    transform: scale(1.05);
}

.film-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.film-card .card-content {
    padding: 15px;
    flex-grow: 1; /* Membuat konten di dalam card berkembang untuk mengisi ruang */
}

.film-card h3 {
    font-size: 1.25rem;
    color: #333;
    margin-bottom: 10px;
}

.film-card p {
    font-size: 0.6rem;
    color: #777;
    margin-bottom: 10px;
}

/* Link yang berada di bagian bawah card */
.film-card a {
    display: block;
    text-align: center;
    padding: 8px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 30px; /* Membuat link berada di bawah */
}

.film-card a:hover {
    background-color: #0056b3;
}
